package ${basePackage}.mapper;

import com.baomidou.mybatisplus.mapper.BaseMapper;
import ${basePackage}.dto.${className}Dto;
import ${basePackage}.entity.${className};
import java.util.List;

/**
 * ${comments}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}>{
    /**
     * 查询${comments}
     * 
     * @param ${pk.attrname} ${comments}ID
     * @return ${comments}
     */
    public ${className}Dto select${className}ById(${pk.attrType} ${pk.attrname});

    /**
     * 查询${comments}列表
     * 
     * @param ${classname} ${comments}
     * @return ${comments}集合
     */
    public List<${className}Dto> select${className}List(${className} ${classname});

    /**
     * 新增${comments}
     * 
     * @param ${classname} ${comments}
     * @return 结果
     */
    public int insert${className}(${className} ${classname});

    /**
     * 修改${comments}
     * 
     * @param ${classname} ${comments}
     * @return 结果
     */
    public int update${className}(${className} ${classname});

    /**
     * 删除${comments}
     * 
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    public int delete${className}ById(${pk.attrType} ${pk.attrname});

    /**
     * 批量删除${comments}
     * 
     * @param ${pk.attrname}s 需要删除的数据ID
     * @return 结果
     */
    public int delete${className}ByIds(Long[] ${pk.attrname}s);
}
