package ${basePackage}.service;

import ${basePackage}.entity.${className};
import java.util.List;

/**
 * ${comments}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service {
    /**
     * 查询${comments}
     * 
     * @param ${pk.attrname} ${comments}ID
     * @return ${comments}
     */
    public ${className} select${className}ById(${pk.attrType} ${pk.attrname});

    /**
     * 查询${comments}列表
     * 
     * @param ${classname} ${comments}
     * @return ${comments}集合
     */
    public List<${className}> select${className}List(${className} ${classname});

    /**
     * 新增/修改${comments}
     * 
     * @param ${classname} ${comments}
     * @return 结果
     */
    public int insertAndUpdate${className}(${className} ${classname});

    /**
     * 批量删除${comments}
     * 
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    public int delete${className}ByIds(Long[] ids);
}
