package ${basePackage}.service;

import ${basePackage}.entity.${className};
import java.util.List;
#if($table.tree)
import com.common.core.domain.Ztree;
#end

/**
 * ${comments}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service {
    /**
     * 查询${comments}
     * 
     * @param ${pk.attrname} ${comments}ID
     * @return ${comments}
     */
    public ${className} select${className}ById(${pk.attrType} ${pk.attrname});

    /**
     * 查询${comments}列表
     * 
     * @param ${classname} ${comments}
     * @return ${comments}集合
     */
    public List<${className}> select${className}List(${className} ${classname});

    /**
     * 新增${comments}
     * 
     * @param ${classname} ${comments}
     * @return 结果
     */
    public int insert${className}(${className} ${classname});

    /**
     * 修改${comments}
     * 
     * @param ${classname} ${comments}
     * @return 结果
     */
    public int update${className}(${className} ${classname});

    /**
     * 批量删除${comments}
     * 
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    public int delete${className}ByIds(Long[] ids);

    /**
     * 删除${comments}信息
     * 
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    public int delete${className}ById(${pk.attrType} ${pk.attrname});
#if($table.tree)

    /**
     * 查询${comments}树列表
     * 
     * @return 所有${comments}信息
     */
    public List<Ztree> select${className}Tree();
#end
}
